/*GLOBAL STYLES*/

* {
	box-sizing: border-box;
	margin: 0;
}

h1 {
	font-family: 'Playfair Display', serif;
	color: #293241;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #293241;
}

/* HEADER */

header {
	padding-top: 65px;
	padding-bottom: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tagline {
	padding-top: 10px;
	padding-bottom: 2px;
}

.hashtags {
	list-style-type: none;
	font-family: 'Montserrat', sans-serif;
	padding-top: 30px;
}

.hashtags a {
	background: #fff;
	border: 2px solid #293241;
	border-radius: 6px;
	color: #293241;
	padding: 7px;
	text-decoration: none;
}

.hashtags a:hover {
	color: #ffffff;
	background: #f6b93b;
	border-color: #f6b93b;
	transition: all 0.4s ease 0s;
}

/* PHOTO FLEX GRID */

.grid-container {
	max-width: 1335px;
	margin: 0 auto;
	}

.grid-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.grid-column {
	flex-basis: 25%;
	padding: 0 3px;
}

.grid-column img {
	width: 100%;
	height: auto;
}

/* FOOTER FLEX GRID*/

.container {
	margin: 0 auto;
	max-width: 1335px;
	background-color: #f1f1f1;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

/* FOOTER*/

footer {
	padding: 20px 0;
}

footer a {
	color: #293241;;
}

footer a:hover {
	color: #f6b93b;
}

.about-text {
	max-width: 400px;
}

/* MEDIA QUERY*/

@media screen and (max-width: 800px) {
	p {
		
	}
	
	.grid-column {
		flex: 50%;
	}
	
	.column {
		
	}
	
	.about-text {
	}
}

@media screen and (max-width: 500px) {
	p {
		
	}
	
	.grid-column {
		flex: 100%;
	}
	
	.row {
		flex-direction: column;
	}
	
	.column {
		flex: 100%
	}
	
	.about-text {
	
	}
}
